* {
  margin: 0;
  padding: 0;
}

body {
  height: 300vh;
  width: 100vw;
}
body #root {
  height: 300vh;
  width: 100vw;
}
body #root .Canvas {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}
body #root .Canvas .Home {
  height: 100vh;
  width: 100vw;
}
body #root .Canvas .Home .Video01 {
  height: 100%;
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}
body #root .Canvas .Home .TitleBar {
  position: absolute;
  height: 66%;
  width: 10%;
  background-color: rgba(216, 95, 9, 0.747);
}
@media (max-width: 1000px) {
  body #root .Canvas .Home .TitleBar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 8.5%;
  }
}
body #root .Canvas .Home .TitleBar .Name {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  height: 20%;
  z-index: 3;
}
body #root .Canvas .Home .TitleBar .Name h1 {
  align-self: center;
  font-size: 1.5em;
}
@media (max-width: 1000px) {
  body #root .Canvas .Home .TitleBar .Name {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 20%;
  }
}
@media (max-width: 600px) {
  body #root .Canvas .Home .TitleBar .Name {
    font-size: 9px;
  }
}
body #root .Canvas .Home .TitleBar .Buttons {
  position: relative;
  z-index: 3;
  height: 80%;
}
@media (max-width: 1000px) {
  body #root .Canvas .Home .TitleBar .Buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 80%;
  }
  body #root .Canvas .Home .TitleBar .Buttons .Contact {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 60%;
  }
  body #root .Canvas .Home .TitleBar .Buttons .Contact .CButtons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }
}
body #root .Canvas .Home .TitleBar .Buttons .About {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 20%;
  color: inherit;
  text-decoration: none;
}
body #root .Canvas .Home .TitleBar .Buttons .About:hover {
  background-color: rgb(216, 95, 9);
}
@media (max-width: 1000px) {
  body #root .Canvas .Home .TitleBar .Buttons .About {
    width: 25%;
  }
}
@media (max-width: 500px) {
  body #root .Canvas .Home .TitleBar .Buttons .About {
    font-size: 11px;
  }
}
body #root .Canvas .Home .TitleBar .Buttons .Projects {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 20%;
  color: inherit;
  text-decoration: none;
}
body #root .Canvas .Home .TitleBar .Buttons .Projects:hover {
  background-color: rgb(216, 95, 9);
}
@media (max-width: 1000px) {
  body #root .Canvas .Home .TitleBar .Buttons .Projects {
    width: 25%;
  }
}
@media (max-width: 500px) {
  body #root .Canvas .Home .TitleBar .Buttons .Projects {
    font-size: 11px;
  }
}
body #root .Canvas .Home .TitleBar .Buttons .Contact {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  height: 60%;
}
@media (max-width: 1000px) {
  body #root .Canvas .Home .TitleBar .Buttons .Contact {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
    height: 100%;
  }
}
@media (max-width: 500px) {
  body #root .Canvas .Home .TitleBar .Buttons .Contact {
    font-size: 11px;
  }
}
body #root .Canvas .Home .TitleBar .Buttons .Contact h3 {
  text-align: center;
  height: 25%;
  width: 100%;
}
body #root .Canvas .Home .TitleBar .Buttons .Contact .CButtons {
  height: 45%;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1000px) {
  body #root .Canvas .Home .TitleBar .Buttons .Contact .CButtons {
    width: 60%;
    height: 100%;
  }
}
body #root .Canvas .Home .TitleBar .Buttons .Contact .CButtons button {
  flex: 1 2 50%;
  height: 25%;
  width: 50%;
  background-color: rgba(216, 95, 9, 0.747);
  border-color: rgba(216, 95, 9, 0.747);
}
body #root .Canvas .Home .TitleBar .Buttons .Contact .CButtons button:hover {
  background-color: rgb(216, 95, 9);
}
@media (max-width: 1000px) {
  body #root .Canvas .Home .TitleBar .Buttons .Contact .CButtons button img {
    height: 100%;
    width: 45%;
  }
}
body #root .AboutP {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background-color: rgb(85, 56, 18);
  height: 100vh;
  width: 100vw;
  color: white;
}
@media (max-width: 1000px) {
  body #root .AboutP {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
  }
}
body #root .AboutP .Image00 {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  height: 80%;
  width: 25%;
}
body #root .AboutP .Image00 img {
  width: 100%;
  height: auto;
}
body #root .AboutP .ATextH {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 50%;
  z-index: 1;
}
body #root .AboutP .ATextH .AText {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 95%;
}
body #root .AboutP .ATextH .AText h1 {
  text-align: center;
  font-size: 3.5em;
}
@media (max-width: 1000px) {
  body #root .AboutP .ATextH .AText h1 {
    font-size: 2.5em;
  }
}
@media (max-width: 800px) {
  body #root .AboutP .ATextH .AText h1 {
    font-size: 2em;
  }
}
body #root .AboutP .ATextH .AText p {
  text-align: center;
  font-size: 1.5em;
}
@media (max-width: 1200px) {
  body #root .AboutP .ATextH .AText p {
    font-size: 1.25em;
  }
}
@media (max-width: 900px) {
  body #root .AboutP .ATextH .AText p {
    font-size: 13px;
  }
}
body #root .AboutP .Image01 {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: center;
  height: 80%;
  width: 25%;
}
body #root .AboutP .Image01 img {
  width: 100%;
  height: auto;
}
body #root .ProjectP {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: rgb(85, 56, 18);
  color: white;
}
@media (max-width: 1000px) {
  body #root .ProjectP {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }
}
body #root .ProjectP h1 {
  font-size: 50px;
}
@media (max-width: 500px) {
  body #root .ProjectP h1 {
    font-size: 33px;
  }
}
body #root .ProjectP .ProjectL {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 60%;
}
body #root .ProjectP .ProjectL .ProjectH {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: center;
  height: 66%;
  width: 20%;
  background-color: rgb(29, 58, 19);
}
body #root .ProjectP .ProjectL .ProjectH a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  width: 100%;
}
body #root .ProjectP .ProjectL .ProjectH a img {
  height: 90%;
  width: 100%;
}
@media (max-width: 600px) {
  body #root .ProjectP .ProjectL .ProjectH a img {
    width: 100%;
  }
}
body #root .ProjectP .ProjectL .ProjectH a h2 {
  text-align: center;
  font-size: 1.5em;
  height: 10%;
  width: 100%;
  word-wrap: break-word;
}
@media (max-height: 700px) {
  body #root .ProjectP .ProjectL .ProjectH a h2 {
    font-size: 1.15em;
  }
}
@media (max-width: 1000px) {
  body #root .ProjectP .ProjectL .ProjectH {
    width: 45%;
  }
}
@media (max-width: 500px) {
  body #root .ProjectP .ProjectL .ProjectH {
    width: 60%;
  }
}/*# sourceMappingURL=CSS.css.map */